body {
  background: gray;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: white;
  margin: 16px auto;
  padding: 15px 10px 10px;
}

.title,
.content,
.button-container {
  background: dodgerblue;
}

button {
  background: white;
  padding: 10px 24px;
  border: 3px solid;
  font-weight: 500;
  display: block;
  margin: 0 auto;
}

.title {
  font-size: 16px;
  padding: 10px;
}

.content {
  padding: 10px;
  margin: 10px 0px;
}

.button-container {
  text-align: center;
  padding: 10px;
}